<div class="jumbotron bo-dash" th:fragment="bodash">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 dash-element">
				<h2>Business Owner Dashboard</h2>
				<h5>
					Logged in as:
					<span class="logged-in-details" th:text="${owner.businessOwnerName}"></span>,
					<span class="logged-in-details" th:text="${owner.businessName}"></span>
				</h5>

			</div>
			<div class="col-sm-4 dash-element">
				<div class="panel panel-default">
					<div class="panel-heading">Your Tools</div>
					<div class="panel-body">
						<a th:href="@{/businessowner/dashboard/}" class="btn btn-primary btn-dashboard-navbar">
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Booking Summary</a>
						<a href="/openhours/opening" class="btn btn-primary btn-dashboard-navbar">
							<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Define Opening Hours</a>
						<a th:href="@{/businessowner/employee/list}" class="btn btn-primary btn-dashboard-navbar">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Employee Profiles</a>
						<a href="/roster/view" class="btn btn-primary btn-dashboard-navbar">
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Roster Employees</a>
						<a th:href="@{/businessowner/service}" class="btn btn-primary btn-dashboard-navbar">
							<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> My Services</a>
						<a th:href="@{/setup/edit}" class="btn btn-primary btn-dashboard-navbar">
							<span class="glyphicon glyphicon-pencil"></span> Edit Business</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>